
    <button id="start-ar">Start AR Experience</button>

    <a-scene embedded arjs>
        <a-entity text="value: Hello; color: green;" position="0 0 -2"></a-entity>
    </a-scene>

    <script>
        document.getElementById('start-ar').addEventListener('click', function () {
            const scene = document.querySelector('a-scene');
        scene.enterAR();
    });
    </script>


